@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #FFFFF0;
  overflow-x: hidden;
}

#hero {
  background: rgb(178,153,86);
  background: linear-gradient(144deg, rgba(178,153,86,1) 0%, rgba(255,255,240,1) 75%); 
}

.slick-dots li.slick-active button::before {
  color: #b29956 !important;
}

/* Define a cor vermelha para os dots inativos */
.slick-dots li button::before {
  color: #b29956 !important;
}

.slick-prev:before, .slick-next:before {
  color: #b29956 !important;
}

footer {
  background-color: #997542;
}